.container{
    display: grid;
    grid-template-areas: "header img1" "h2 img2" "p1 p1" "p2 p2" "p3 p3";
}
   
h1{
    grid-area: header;
}

img{
    height: 100px;
    width: 170px;

}

.img1{
    grid-area: img1;
}
h2{
    grid-area: h2;
}
.img2{
    grid-area: img2;
}
.p1{
    grid-area: p1;
}
.p2{
    grid-area: p2;
}
.p3{
    grid-area: p3;
}
