#phone{
    user-select: all;
}
#phone::selection{
    color: blue;

}


img{
    flex-wrap: wrap;
    margin: 10px;
    height: 150px;
    position: absolute;
    right: 1%;
}
#img2{
    bottom: 60%;
}
